@font-face {
	font-family: 'simple';
	font-style: normal;
	font-size: 1000px;
	font-weight: 100;
	src: url('https://raw.githubusercontent.com/redmoonX/redmoonX.github.io/raw/cfac8b75b149f8b79452842ed2de9f51e6bdd841/src/simple.ttf') format('truetype');
	/*src: local('/public/fonts/simple.ttf'), local('/simple.ttf'), url('/fonts/StarJediRounded-jW3R.ttf') format('truetype')*/
};