@font-face {
	font-family: 'simple';
	font-style: normal;
	font-size: 1000px;
	font-weight: 100;
	src: url('https://raw.githubusercontent.com/redmoonX/redmoonX.github.io/raw/bfed407822195fe3523c4c291bbd7f66d7ea2ea9/src/simple.ttf') format('truetype');
	/*src: local('/public/fonts/simple.ttf'), local('/simple.ttf'), url('/fonts/StarJediRounded-jW3R.ttf') format('truetype')*/
	
};