#root {
  font-family: 'StarJedi-DGRW', sans-serif;

}

@font-face {
  font-family: 'StarJedi-DGRW';
  src: local('./StarJedi-DGRW'), url('https://redmoonX.github.io/src/StarJedi-DGRW.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'StarJedi-DGRW';
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
      /*font-family: StarJedi-DGRW;*/
  /*src: local('Starjedi-DGRW'), url(./StarJedi-DGRW.ttf) format('truetype');*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  /*background-image: url("https://i.imgur.com/pqdICWJ.mp4");*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#myVideo {
	position: absolute;
	/*right: 0;*/
	/*bottom: 0;*/
	min-width: 100%;
	min-height: 70%;
	/*left: 50px;
/*	min-width: 190vh;
	min-height: 100vh;*/
	background-size: cover;
		}
